@font-face {  
  font-family: Gravity;  
  src: url('./fonts/Gravity.otf');
}

@font-face {  
  font-family: GravityItalic;  
  src: url('./fonts/GravityItalic.otf');
}

@font-face {  
  font-family: GravityLight;  
  src: url('./fonts/GravityLight.otf');
}

@font-face {  
  font-family: GravityLightItalic;  
  src: url('./fonts/GravityLightItalic.otf');
}

@font-face {  
  font-family: GravityBold;  
  src: url('./fonts/GravityBold.otf');
}

@font-face {  
  font-family: GravityBoldItalic;  
  src: url('./fonts/GravityBoldItalic.otf');
}

@font-face {  
  font-family: GravityBook;  
  src: url('./fonts/GravityBook.otf');
}

@font-face {  
  font-family: GravityBookItalic;  
  src: url('./fonts/GravityBookItalic.otf');
}

@font-face {  
  font-family: GravityUltralight;  
  src: url('./fonts/GravityUltralight.otf');
}

@font-face {  
  font-family: GravityUltralightItalic;  
  src: url('./fonts/GravityUltralightItalic.otf');
}